<!--
<div class="container-fluid">
    <nav class="mt-1 navbar navbar-expand-lg bg-info navbar-dark danger-color rounded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/job-logo.png" height="50px" width="50px" alt="logo"> Jobs</a>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        
        <form class="form-inline">
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
              <a routerLink="/login/emp_login" class="nav-link p-3" > <i class="fa fa-lock"></i> LOGIN</a>
            </li>
            <li class="nav-item">
              <a routerLink="/register/emp_register" class="nav-link p-3 " ><i class="fa fa-address-book" aria-hidden="true"></i>REGISTER</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>
  </div>-->
   <!-- Fixed navbar -->
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   
   
   <html lang="en">
   <head>
     <title>Navbar</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
   </head>
     <body>
   
       <nav class="navbar navbar-expand-sm   navbar-light bg-light">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
   
           <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
             <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
               <li class="nav-item">
                 <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#">About</a>
               </li>
               
             <li class="nav-item">
               <a class="nav-link" href="#">Contact Us</a>
             </li>
             <li class="nav-item">
                <a routerLink="/login" class="nav-link p-3" > <i class="fa fa-lock" (click)="login()"></i>Login</a>
              </li>
              <li class="nav-item">
                <a routerLink="/register" class="nav-link p-3 " ><i class="fa fa-address-book" aria-hidden="true" (click)="register()"></i>Register</a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard" class="nav-link p-3 " ><i class="fa fa-briefcase" aria-hidden="true" (click)="dashboard()"></i>College</a>
              </li>
              <li class="nav-item">
                <a routerLink="/recdashboard" class="nav-link p-3 " ><i class="fa fa-briefcase" aria-hidden="true" (click)="recruiterdashboard()"></i>Recruiter</a>
              </li>
             
            
              <!-- <li class="nav-item dropdown dmenu">
               <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                 Dropdown link
               </a>
               <div class="dropdown-menu sm-menu">
                 <a class="dropdown-item" href="#">Link 1</a>
                 <a class="dropdown-item" href="#">Link 2</a>
                 <a class="dropdown-item" href="#">Link 3</a>
                 <a class="dropdown-item" href="#">Link 4</a>
                 <a class="dropdown-item" href="#">Link 5</a>
                 <a class="dropdown-item" href="#">Link 6</a>
               </div>
             </li> -->
             </ul>
             <div class="social-part">
               <i class="fa fa-facebook" aria-hidden="true"></i>
               <i class="fa fa-twitter" aria-hidden="true"></i>
               <i class="fa fa-instagram" aria-hidden="true"></i>
             </div>
           </div>
         </nav>
   </body>
   </html>
